<div class="wrapper">

<article class="mainArticle">
  <div class="article_wrapper">
    <div class="article_skills">
      <div class="skills_title">
        <div>Skills acquired(18)</div>
        <div>View all</div>
      </div>
      <div class="skills_post">
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
      </div>
    </div>
  </div>
</article>
<nav class="mainNav">Profile</nav>
<div class="siteAds">Badges</div>

</div>
